html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: darkgrey;
    overflow:hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.appName {
    float: left;
}



.menuEntries{
    float:right;
    height: 26px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.navBar{
    margin: 0;
    padding: 0;

}

.timeSelector{
    width:100%;
    text-align: center;

}

.textTimeSelector{
    text-align: center;

}

.buttonTimeSelector{
    text-align: right;
}

.container
{
    width: 100%;
    height: 100%;
}

.InnerContainer
{
    width: 100%;
    height: 100%;
    text-align: center;
}

.PieContainer {
    border-radius: 5px 5px 0 0;
    padding-top: 50px;
    margin: 25px auto 0;
    background-color: #fff;
    height: 100%;
    text-align: center;
}

svg{width: 100% !important;}
.slice{stroke: white; stroke-width: 5px;}
.slice:hover{opacity: .5;}
.labels text{background-color: #333; width: 200px;}


svg{
    width: 100%;
    height: 100%;

}
path.slice{
    stroke-width:5px;
}

polyline{
    stroke: #333;
    stroke-width: 1px;
    fill: none;
}

.button{
    background:    #191919;
    color:         white;
    display:       inline-block;
    font:          15px "Calibri", sans-serif;
    text-align:    center;
    padding:1px 5px;
    margin:5px;
}

table{
    display:inline-block;
    font-size: 13px;
}



